$font:'Inconsolata', monospace;
$box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
//1st ball gradient colors orange
$orange-light:#ffe897;
$orange-dark:#f98a05;
//2nd ball gradient colors green
$blue-light:#6dd0f1;
$yellow-light:#e0e793;
//card info color
$grey:#6f7886;
//break points
$bp620:38.75em;
$bp515:32.1875em;